<h1>Profil de <%= @user.full_name%></h1>
<div class="ml-2">
  <p><span class="attribute">Prénom: </span>
    <%= @user.first_name %></p>
  <p><span class="attribute">Nom: </span>
    <%= @user.last_name %></p>
  <p><span class="attribute">Email: </span>
    <%= @user.email %></p>
  <p><span class="attribute">Ville de résidence: </span>
    <%= @user.city.name %></p>
  <p><span class="attribute">Description: </span>
    <%= @user.description %></p>
</div>
